<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.college">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.College">
        <activity android:name=".Common.LoginSignup.StartUpScreen"></activity>
        <activity android:name=".User.Features" />
        <activity android:name=".User.auto_engg" />
        <activity
            android:name=".User.comp_science"
            android:label="@string/title_activity_comp_science"
            android:theme="@style/Theme.College.NoActionBar" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>